@using System.Linq
@model HomeBrewing.Models.SubscriptionViewModels.UserInfoViewModel




@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Users = ViewBag.Followers;
}

<br />

<hr />

<h4><a asp-area="" asp-controller="Subscription" asp-action="SeeFollow">See your followers/following!</a></h4>
<hr />

<h2>Search</h2>
<form asp-controller="Subscription" asp-action="Search" method="get">

    <div class="form-group">

        <label>Search for a user</label>
        <input type="text" class="form-control" name="NameQuery" />

        <br />

    </div>

    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Search" />
    </div>

</form>


<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Confirm</th>
                <th>Reject</th>

            </tr>
@foreach (var data in ViewBag.Followers) { 
            <tr>
                <td><a href="/Subscription/UserDetail/@data.FollowerUserId">@data.Name</a></td>
                <td> @data.Surname</td>
                <td>
                    <form asp-controller="Subscription" asp-action="ConfirmInvitation" method="post">
                        <div class="form-group">
                            <input class="form-control" type="hidden" name="subscriberUserID" value="@data.FollowerUserId" />
                            <input class="btn btn-success" type="submit" value="Confirm" />
                        </div>
                    </form>
                </td>
                <td>
                    <form asp-controller="Subscription" asp-action="RejectInvitation" method="post">
                        <div class="form-group">
                            <input class="form-control" type="hidden" name="subscriberUserID" value="@data.FollowerUserId" />
                            <input class="btn btn-success" type="submit" value="Reject" />
                        </div>
                    </form>
                </td>

                </tr>
}
            </table>


</div>
    
    <div class="col-md-2"></div>

    </div>
