@using System.Linq
@model HomeBrewing.Models.SubscriptionViewModels.UserInfoViewModel




@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Search</h2>
<form asp-controller= "Subscription" asp-action="Search" method = "get">
    
    <div class="form-group">
                    
        <label>Search for a user</label>
        <input type="text" class="form-control" name="NameQuery"/>

        <br />
                 
    </div>

    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Search" />
    </div>

</form>