@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Home brewing is an essential concept among
beer enthusiasts which requires precise
calculations and measurements. This project
aims to assist home brewers with their hobby by
helping them maintain a list of recipes and
adapt existing ones. It will also help them keep
track of ingredients. It can also give suggestions
on what to brew based on currently stored
ingredients.</p>
