@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    


    İstanbul Teknik Üniversitesi<br />
    Ayazağa Kampüsü<br />
    Bilgisayar ve Bilişim Fakültesi <br />
    Maslak, İstanbul, 34469<br /> 
    
</address>

