@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Istanbul Technical University<br />
    Merkezi Derslik Binası, Maslak 34467 Sarıyer/Istanbul<br />
    <abbr title="Phone">P:</abbr>
    +90 539 481 7197
</address>

