@{
    ViewData["Title"] = "Home Page";
    var RecipesInfo = ViewBag.Recipes;
}

@model IEnumerable< HomeBrewing.Models.RecipeViewModels.CreateRecipeViewModel>

<div>
    <img src="~/images/logo.jpg" width="1140" />
</div>

<hr />

<h2> Last Recipes</h2>

<div class="row">

   
    <div class="col-md-8">

    <table class="table table-bordered">
        <tr>
            <th>Title</th>
            <th>Details</th>
            <th>More Info</th>
           

        </tr>
        @foreach (var user in RecipesInfo)
        {
            @foreach (var recipe in user)
            {

                <tr>
                    
                    <td>@recipe.Title</td>
                    @if (recipe.Details.Length > 20){
                        <td>@recipe.Details.Substring(0,30)...</td>
                    }
                    else{
                        <td>@recipe.Details</td>
                    }
                    <td><a class="btn btn-info" href="/Recipe/RecipeDetail/@recipe.Id">More info about this recipe</a></td>
                

                </tr>
            }
        }


    </table>
    </div>
    <div class="col-md-4"></div>

</div>
