@{
    ViewData["Title"] = "Home Page";
    var RecipesInfo = ViewBag.Recipes;
}

@model IEnumerable< HomeBrewing.Models.RecipeViewModels.CreateRecipeViewModel>

<div>
    <img src="~/images/logo.jpg" width="1140" />
</div>

<hr />

<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">

    <table class="table table-bordered">
        <tr>
            <th>Title</th>
            <th>Created Date</th>
            <th>Details</th>
           

        </tr>
        @foreach (var user in RecipesInfo)
        {
            @foreach (var recipe in user)
            {

                <tr>
                    
                    <td> @recipe.Title</td>
                    <td>@recipe.CreatedDate</td>
                    <td><a class="btn btn-info" href="/Recipe/RecipeDetail/@recipe.Id">Details</a></td>
                

                </tr>
            }
        }


    </table>
    </div>
    <div class="col-md-2"></div>

</div>
