@using System.Linq
@model HomeBrewing.Models.RecipeViewModels.RecipeViewModel




@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Create Recipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript">
    var app = angular.module('MyApp', [])
    app.controller('MyController', function ($scope, $window, $http) {
        $scope.Ingredients = [
            {
                
                Name: "",
                Quantity: "",
                MeasurementUnit: ""
            }
        ];


        

        $scope.Add = function () {
            
            var ingredient = {};
           
            ingredient.Name = $scope.Name;
            ingredient.Quantity = $scope.Quantity;
            ingredient.MeasurementUnit = $scope.MeasurementUnit;
            $scope.Ingredients.push(ingredient);
            $scope.Name = ""; // clear the textboxes
            $scope.Quantity = "";
            $scope.MeasurementUnit = "";
        };

        $scope.Remove = function (index) {
        
            if ($window.confirm("Do you want to delete this ingredient?")) {
                $scope.Ingredients.splice(index, 1);

            }

        };

        $scope.SaveDatas = function (isValid) {

            var isValid = true;
            angular.forEach($scope.Ingredients, function (value, key) {
                if (!value.Name || !value.Quantity || !value.MeasurementUnit ) {
                    isValid = false;

                }

            } )
            
            if (isValid)  {
            var data = { 'details': $scope.RecipeDetails , 'title' : $scope.RecipeTitle, 'ingredients' : $scope.Ingredients };
            $http.post("../Recipe/SaveDatas", data).then(function (response) { 


            });

            alert("Recipe addeed successfully");
            $window.location.reload();

            
            }
            else {
                alert("Check the values you have entered.");
                $window.location.reload();

            }
          



        }

    });
</script>



<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-6">
        <form  >
            <div class="form-group" ng-app="MyApp" , ng-controller="MyController">
                <div class="form-group">
                    
                        <label>Title</label>
                        <input type="text" ng-model="RecipeTitle" class="form-control" />

                        <br />
                 
                </div>
                <div class="form-group">
                    <label>Details</label>
                    <textarea ng-model="RecipeDetails" class="form-control"></textarea>
                    <br />
                </div>

                <div class="col-md-4">
                    <label>Ingredient Name</label>
                </div>
                <div class="col-md-3">
                    <label>Quantity</label>
                </div>
                <div class="col-md-3">
                    <label>MeasurementUnit</label>
                </div>

                <br />
                <div ng-repeat="ingredient in Ingredients">
                    <div class="col-md-4">
                        <input class="form-control" type="text" ng-model="ingredient.Name"  required />
                    </div>
                    <div class="col-md-3">

                        <input class="form-control"  type="number" ng-model="ingredient.Quantity"   step="0.01" required/>
                        
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" ng-model="ingredient.MeasurementUnit" required />
                    </div>
                            <input class="btn btn-primary" type="button" ng-click="Remove($index)" value="Remove" />
                            <br />
                    <br />
                        </div>
                <br />
                <input class="btn btn-primary" type="button" ng-click="Add()" value="Add" />


                <div class="form-group">

                    <br />
                </div>

                <div class="form-group">
                    <input class="btn btn-success" type="button"  ng-click="SaveDatas()"  value="Save" />
                </div>
            </div>
</form>

</div>
            </div>