
@{
    ViewData["Title"] = "PermissionDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>This account is private. You do not have  permission to see this page. </h1>
<br />
<h2>Try to:</h2><br />
<h2>1.Follow the user who is the owner of this recipe.</h2>
<br />
<h2>2.Wait him to confirm your follow request.</h2>


