
@{
    ViewData["Title"] = "Recipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recipe</h2>

<h4><a asp-area="" asp-controller="Recipe" asp-action="CreateRecipe">Click here to create new recipe!</a></h4>