
@{
    ViewData["Title"] = "Recipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RecipeInfo = ViewBag.Recipe;
}

@model IEnumerable< HomeBrewing.Models.RecipeViewModels.CreateRecipeViewModel>

<h2>Recipe</h2>

<h4><a asp-area="" asp-controller="Recipe" asp-action="CreateRecipe">Click here to create new recipe!</a></h4>


<hr />

<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">

    <table class="table table-bordered">
        <tr>
            <th>Title</th>
            <th>Created Date</th>
            <th>Details</th>
           

        </tr>
        @foreach (var item in RecipeInfo)
        {

            <tr>
                
                <td> @item.Title</td>
                <td>@item.CreatedDate</td>
                <td><a class="btn btn-info" href="/Recipe/RecipeDetail/@item.Id">Details</a></td>
               

            </tr>
        }


    </table>
    </div>
    <div class="col-md-2"></div>

</div>